html
    box-sizing: border-box

*, *:before, *:after
    box-sizing: inherit

.cf:after
    content: ""
    display: table
    clear: both

$paragraph: 'Open Sans', Helvetica, sans-serif
$heading: 'Francois One', Georgia, serif

$main: #ab3428
$secondary: #5c9ead

nav
    h1
        float: left
        font-family: $heading
        font-size: 20px 
        font-weight: normal

    ul
        max-width: 980px
        list-style: none
        margin: 40px auto
        padding-left: 0
    
    li
        display: inline-block
        margin: 10px
        float: right

    a
        text-decoration: none
        color: #444
        font-family: $paragraph

        &:hover
            color: $main

.main-content
    max-width: 980px
    margin: 0 auto

    h1
        font-family: 'Francois One', Georgia, sans-serif
        font-weight: normal
        margin: 5px 0

    p
        font-family: $paragraph
        margin: 0
        color: #666

    .button
        font-family: $paragraph
        font-size: 14px
        padding: 8px 15px
        border: 1px solid #555
        border-radius: 5px
        text-decoration: none
        color: #333

        &:hover
            cursor: pointer
            background-color: $main
            border: 1px solid $main
            color: white

    .account-option
        display: inline-block
        margin: 40px 50px 40px 0

        h2
            font-family: $paragraph
            font-weight: normal
            font-size: 18px
            margin-bottom: 25px
            color: #888

form
    h2
        font-family: $heading
        font-weight: normal
        margin: 30px 0

    label
        font-family: $paragraph
        margin-right: 5px

        &:after
            content: ':'

    .form-group
        margin: 20px 0

.messages
    .notify
        margin: 5px 5px 5px 0
        padding: 10px 20px
        display: inline-block

    .error
        background-color: $main
        color: white

    .success
        background-color: green
        color: white

        a
            color: $secondary

.insecure-warning
    h2
        font-family: $heading
        font-weight: normal
        font-size: 20px
        color: #f9564f
        margin-top: 100px

    p
        max-width: 800px
        margin: 20px 0

.search
    display: block
    width: 100%
    border: none
    background-color: none
    border-bottom: 2px solid black
    margin-bottom: 50px
    font-family: $heading
    font-size: 30px
    line-height: 30px
    padding: 15px 0

.books-list
    width: 65%
    display: inline-block
    vertical-align: top

    .book-item
        margin: 10px 0
        padding: 10px 20px 10px 0
        display: block
        text-decoration: none

        &:hover
            cursor: pointer

            h3
                color: $main

            .author, .price
                color: $main

            .hover-text:after
                content: 'Click to add to cart'
                float: right
                clear: both
                font-family: $paragraph
                color: black
                font-size: 14px
                padding-top: 5px
                cursor: pointer

        h3
            font-family: $heading
            font-weight: normal
            font-size: 26px
            margin: 0
            color: black

        .author
            font-family: $paragraph
            font-size: 14px
            margin: 2px 0

        .price
            float: right
            font-family: $heading
            font-size: 20px
            color: black
            margin-top: 6px

.sidebar
    width: 34%
    display: inline-block
    vertical-align: top
    padding-top: 20px

.cart
    vertical-align: top
    border: 1px solid #888
    padding: 10px 20px
    margin-left: 10%

    .cart-item
        margin: 10px 0
        text-decoration: none
        display: block

        &:hover
            h3
                color: $main

            .price
                color: $main

    h1
        font-size: 25px
        margin-bottom: 30px
    
    h3
        font-family: $heading
        font-weight: normal
        font-size: 18px
        margin: 0
        color: black

    .price
        font-family: $paragraph
        font-size: 14px
        float: right
        margin-top: 4px
        color: #333

    .checkout
        font-family: $paragraph
        float: right
        padding: 10px 15px
        border: 1px solid #888
        font-size: 14px
        margin: 20px 0 10px 10px
        text-decoration: none
        color: black

        &:hover
            border: 1px solid $main
            background-color: $main
            color: white
            cursor: pointer

.subjects
    display: inline-block
    vertical-align: top
    border: 1px solid #888
    padding: 10px 20px
    margin-left: 10%
    margin-top: 20px

    h1
        font-size: 25px
        margin-bottom: 30px

    a
        margin: 5px 5px 5px 0
        padding: 10px 20px
        display: inline-block
        background-color: $secondary
        text-decoration: none
        color: white
        font-family: $paragraph
        font-size: 14px

        &:hover
            background-color: $main