html
    box-sizing: border-box

*, *:before, *:after
    box-sizing: inherit

.cf:after
    content: ""
    display: table
    clear: both

$paragraph: 'Open Sans', Helvetica, sans-serif
$heading: 'Francois One', Georgia, serif

$main: #ab3428
$secondary: #5c9ead

nav
    h1
        float: left
        font-family: $heading
        font-size: 20px 
        font-weight: normal

    ul
        max-width: 980px
        list-style: none
        margin: 40px auto
        padding-left: 0
    
    li
        display: inline-block
        margin: 10px
        float: right

    a
        text-decoration: none
        color: #444
        font-family: $paragraph

        &:hover
            color: $main

.main-content
    max-width: 980px
    margin: 0 auto

    h1
        font-family: 'Francois One', Georgia, sans-serif
        font-weight: normal
        margin: 5px 0

    p
        font-family: $paragraph
        margin: 0
        color: #666

    .button
        font-family: $paragraph
        font-size: 14px
        padding: 8px 15px
        border: 1px solid #555
        border-radius: 5px
        text-decoration: none
        color: #333

        &:hover
            cursor: pointer
            background-color: $main
            border: 1px solid $main
            color: white

    .account-option
        display: inline-block
        margin: 40px 50px 40px 0

        h2
            font-family: $paragraph
            font-weight: normal
            font-size: 18px
            margin-bottom: 25px
            color: #888

form
    h2
        font-family: $heading
        font-weight: normal
        margin: 30px 0

    label
        font-family: $paragraph
        margin-right: 5px

        &:after
            content: ':'

    .form-group
        margin: 20px 0

.messages
    .notify
        margin: 5px 5px 5px 0
        padding: 10px 20px
        display: inline-block

    .error
        background-color: $main
        color: white

    .success
        background-color: green
        color: white

        a
            color: $secondary

