<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
    <link href="https://fonts.googleapis.com/css?family=Francois+One|Open+Sans" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <nav>
        <ul class="cf">
            <a href="/"><h1>Deep's Bookstore</h1></a>
            <% if (locals.user) { %>
            <li><a href="/store">Store</a></li>
            <li><a href="/logout">Logout</a></li>
            <%} else { %>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <%} %>   
        </ul>
    </nav>
    <div class="main-content">
        <div class="messages">
            <% if(locals.error_msg.length > 0) { %>
                <p class="notify error"><%=error_msg %></p>
            <% } %>
            <% if(locals.success_msg.length > 0) { %>
                <p class="notify success"><%=success_msg %></p>
            <% } %>
            <% if(locals.errors) { %>
                <% for (var i = 0; i < errors.length; i++){ %>
                    <p class="notify error"><%=errors[i].msg %></p>
                <% } %>
            <% } %>
            <% if (locals.success) { %>
                    <p class="notify success">You have been successfully registered. <a href="/login">Login Now.</a></p>
            <% } %>
        </div>

        <form action="/store/checkout" method="post">
            <div class="financial-info">
            <h2>Almost Done! Just Enter Shipping Information:</h2>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" name="address">
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" name="city">
                </div>
                <div class="form-group">
                    <label>State</label>
                    <input style="max-width: 30px;" type="text" maxlength="2" class="form-control" name="state">
                </div>
                <div class="form-group">
                    <label>ZipCode</label>
                    <input type="text" 
       onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="5" class="form-control" name="zip">
                </div>
            </div>

            <button type="submit" class="btn">Place My Order</button>
        </form>
    </div>
</body>
</html>